# Dependencies
node_modules
.pnpm-store

# Production Builds
dist
.output
.nitro
.tanstack
.astro

# Cloudflare Wrangler
.wrangler

# Environment Variables
.env
.env.*
!.env.example

# OS and IDE Files
.DS_Store
Thumbs.db
.vscode
.idea
*.log
app.config.timestamp_*.js
*.timestamp_*.js

# Local Archives
archive/
